
@import "../components/colors.scss";

header#masthead {
  align-items: center;
  justify-items: center;
  background-color: $light_brown;
  text-align: center;
  z-index: 2;
  position: relative;
  max-width: 100%;
  
  img.logo {
    padding-bottom: 10px;
  }
  
  .login {
      margin: 10px 20px;
      position: absolute;
  }

}

.post-thumbnail {
    position: relative;
    width: 100%;
    padding-top: calc((4 / 3)* 100%);
    overflow: hidden;
   
   img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
